<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <th:block th:fragment="sidebar">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/manage/toManage}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Dash Board</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/manage/toManage}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <div th:if="${user.admin eq true}">
                <!-- Heading -->
                <div class="sidebar-heading">
                    Admin
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" type="submit" th:href="@{/admin/userApproval}">
                        <!--fa-fw fa-cog-->
                        <i class="fas fa-list"></i>
                        <span>User Management</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" type="submit" th:href="@{/admin/userList}">
                        <i class="fas fa-user"></i>
                        <span>User List</span>
                    </a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

            </div>

            <!-- Heading -->
            <div class="sidebar-heading">
                User
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" type="submit" th:href="@{/message/list}">
                    <!--fa-fw fa-cog-->
                    <i class="fas fa-envelope-square"></i>
                    <span>Unread Messages</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" type="submit" th:href="@{/message/readedMessages}">
                    <!--fa-fw fa-cog-->
                    <i class="far fa-envelope-open"></i>
                    <span>Read Messages</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Vehicle
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="far fa-plus-square"></i>
                    <span>Add Vehicle</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Add methods</h6>
                        <a class="collapse-item" th:href="@{/vehicle/toAddPage}">Add Single Vehicle</a>
                        <a class="collapse-item" th:href="@{/vehicle/toMultipleAddPage}">Add Multiple Vehicles</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" type="submit" th:href="@{/vehicle/list}">
                    <!--fa-fw fa-cog-->
                    <i class="fas fa-car"></i>
                    <span>Instock Vehicles</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" type="submit" th:href="@{/vehicle/sold}">
                    <!--fa-fw fa-cog-->
                    <i class="fas fa-check-circle"></i>
                    <span>Sold Vehicles</span>
                </a>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
    </th:block>
</body>
