<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="trash">
    <!-- Trash Modal -->
    <div class="modal fade" id="trashModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to delete current item?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Trash" below if you are ready to delete this item.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a id="trashFinalBtn" class="btn btn-primary" data-id="" onclick="trashMsg(); return false;">Trash</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>